{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "indent": ["error", 2],
    "template-tag-spacing": [0],
    "space-before-blocks": "error",
    "space-before-function-paren": ["error", "always"],
    "sort-vars": "error",
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "no-plusplus": ["error", {
      "allowForLoopAfterthoughts": true
    }],
    "no-tabs": "error",
    "max-len": ["error", 120],
    "jsx-a11y/img-has-alt": [0],
    "react/jsx-filename-extension": [0]
  }
}
